.InputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 550px;
    width: 100%;
    margin: 20px auto;
  }
  
  .inputText {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    transition: border-color 0.3s ease;
  }
  
  select:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
  }
  
  input[type="tel"]:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .formatNumber {
    font-size: 17px;
    color: #555;
    margin-top: 5px;
  }
  